# Configurações do Banco de Dados
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_DB=seu_db
DB_PORT=sua_porta

# Configurações do Backend
BACKEND_PORT=porta_backend
DATABASE_URL=postgresql://seu_usuario:sua_senha@db:sua_porta/seu_db

# Configurações do Frontend
FRONTEND_PORT=porta_frontend
VITE_API_URL=url_vite